


    @Session["projectmetatags"]



<link href="../../Content/Login_files_asis/login.css" rel="stylesheet" type="text/css" />
<!--BANNER START-->
<div class="page-heading">
    <div class="container">
        <h2></h2>
        <p></p>
    </div>
</div>
<!--BANNER END-->
<!--CONTANT START-->
<div class="contant">
    <div class="container">
        <div class="row">
            <div class="span3">
                &nbsp;
                        
            </div>
            <div class="span6">
                <div class="form-box2">
            <h2> Email has sent at your Email 
               
                   @Html.Raw(ViewData["PageHeading"])</h2>
             
                    Please check your email for further process. 

                   @Html.Raw(ViewData["PageLeftData"])
                </div>
            </div>
        </div>
    </div>
