@model OLProject.Models.tb_CountryMaster


	@Session["projectmetatags"]

@{
    Layout = "~/Views/Shared/adminpopup.cshtml";
    }


    <h2>Edit Country</h2>
     
       @Html.Partial("comCountry");  


