@model ContosoUniversity.Models.tb_ReceiptPayment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/adminPopup.cshtml";
}

<script>
    $(document).ready(function () {
        $("#ReceiptDate").datepicker();
    });
</script>
<h2>Edit Receipt </h2>

<script>
    window.onunload = function () {
        window.opener.location.href = window.opener.location;
    }

</script>



@using (Html.BeginForm("Edit", "receiptpayment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    @Html.AntiForgeryToken()
    @Html.Partial("Base")
    
}


