<div class="main_bottom">
    <div class="bottom">
        <div class="bottom_h2">
            <h2>Copyright@2014 
            </h2>
        </div>
        <div class="bottom_menu">
            <ul>
                <li><a href="/home/terms">Terms of Use</a></li>
                <li>| </li>
                <li><a href="/home/privacy">Privacy Policy</a></li>


            </ul>
        </div>
    </div>
</div>
