@@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" 



<div class="clr"></div>
</div>
<div id="footer">
@--<div class="copyright">© copyright 2012 gaganz.com. All rights are reserved.</div>
<div class="link"><a href="/home/terms">Terms of Use</a>|<a href="/home/privacy">Privacy Policy</a>|<a href="/home/contactus">Contact Us</div>
--
<div class="clr"></div>
</div>