@model OLProject.Models.tb_LessionMaster

@{ Layout = "~/Views/Shared/adminsecurity.cshtml"; }
@Session["projectmetatags"]



<script>
    window.onunload = function () {
        window.opener.location.href = window.opener.location;
    }

</script>

@if (ViewData["msgStatus"] == null)
{
using (Html.BeginForm("create", "Lessons", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.Partial("LessonBase");
}
}
else
{

    <h2>@Html.Raw(ViewData["errorMsg"])</h2>
   
}


