@{
    ViewBag.Title = "Thanks";
 
}

<div class="container">
    <h3>Thanks</h3>
    <br />

    <br />
    <br />
    You have successfully completed your order.<br />
    <br />

    <br />
    Enjoy our services.<br />
    <br />
    Lunchpacker.ca<br />
</div>
