@model  OLProject.Models.tb_UserMaster

   @{ Layout = "~/Views/Shared/_layout.cshtml";
}

   <!--CONTANT START-->
        <!--CONTANT START-->
    <div class="contant">
    	<div class="container">
        	<div class="row">
			<div class="span4">
                                <!--EDIT PROFILE START-->
                                <div class="profile-box edit-profile">
                                    <h2>Web & Mob</h2>
                                    <ul>
                                        <li><a href="#">Unit-1</a></li>
                                        <li><a href="#">Unit-2</a></li>
                                        <li><a href="#">Unit-3</a></li>
                                        <li><a href="#">Unit-4</a></li>
                                        <li><a href="#">Unit-5</a></li>
                                    </ul>
                                    <div class="logout">
                                        <a href="/course/questions/">Start Quiz</a>
                                    </div>
                                </div>
                                <!--EDIT PROFILE END-->
                            </div>
            	<div class="span8">
                	<div class="questions-area">
                    	<div class="questions">
                            <p>Learn essential computer science and object-oriented programming concepts in this</p>
                            <input id="demo_box_1" class="css-checkbox" type="radio" checked="checked" name="poll" />
                            <label for="demo_box_1" class="css-label">Yes</label>
                            
                            <input id="demo_box_2" class="css-checkbox" type="radio" name="poll" />
                            <label for="demo_box_2" class="css-label">No</label>
                            
                            
                            <input id="demo_box_3" class="css-checkbox" type="radio" name="poll" />
                            <label for="demo_box_3" class="css-label">Can't Say</label>
                        </div>
                        <div class="questions">
                            <p>Learn essential computer science and object-oriented programming concepts in this</p>
                            <input id="demo_box_1" class="css-checkbox" type="radio" checked="checked" name="poll" />
                            <label for="demo_box_1" class="css-label">Yes</label>
                            
                            <input id="demo_box_2" class="css-checkbox" type="radio" name="poll" />
                            <label for="demo_box_2" class="css-label">No</label>
                            
                            
                            <input id="demo_box_3" class="css-checkbox" type="radio" name="poll" />
                            <label for="demo_box_3" class="css-label">Can't Say</label>
                        </div>
                        <div class="questions">
                            <p>Learn essential computer science and object-oriented programming concepts in this</p>
                            <input id="demo_box_1" class="css-checkbox" type="radio" checked="checked" name="poll" />
                            <label for="demo_box_1" class="css-label">Yes</label>
                            
                            <input id="demo_box_2" class="css-checkbox" type="radio" name="poll" />
                            <label for="demo_box_2" class="css-label">No</label>
                            
                            
                            <input id="demo_box_3" class="css-checkbox" type="radio" name="poll" />
                            <label for="demo_box_3" class="css-label">Can't Say</label>
                        </div>
                    </div>
                    <div class="questions-area blanks">
                    	<p>Lorem ipsum dolor sit amet,<input type="text"> consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren<input type="text"> no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr<input type="text"> sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat<input type="text"> sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="questions-area single-line">
                    	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod? </p>
                        <input type="text" class="input-block-level">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed? </p>
                        <input type="text" class="input-block-level">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy? </p>
                        <input type="text" class="input-block-level">
                    </div>
                    <div class="questions-area multi-line">
                    	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod? </p>
                        <textarea class="input-block-level"></textarea>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed? </p>
                        <textarea class="input-block-level"></textarea>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy? </p>
                        <textarea class="input-block-level"></textarea>
                    </div>
                    <div class="questions-area">
                    	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    	<!--upload button-->
                        <span class="btn btn-danger fileinput-button">
                            <i class="fa fa-plus"></i>
                            <span>Add files...</span>
                            <!-- The file input field used as target for the file upload widget -->
                            <input id="fileupload" type="file" name="files[]" >
                        </span>
                        <!--upload button-->
                    </div>
                </div>
            </div>
        </div>
       