<div id="rest">


    
   <p style="color: #1d1d1d;    font-size: 20px;    font-weight: normal;    line-height: 20px;   margin: 0 0 20px;"> @Html.Raw(ViewData["heading"]) </p> 
    @Html.Raw(ViewData["slidedesc"])
    @Html.Raw(ViewData["graphics"])
  
    @Html.Raw(ViewData["startbuttonNew"])
   

      <a href="#" class="enroll">&nbsp;</a>
   
</div>


