
   @{ Layout = "~/Views/Shared/adminsecurity.cshtml";
      }
@using OLProject.Models;

	@Session["projectmetatags"]


  <h2>List Of Comments - Student</h2>
  
  <table class="table table-striped table-bordered table-hover" id="resultForm:result_table">
                                  

    @Html.Raw( clsCommon.getHeader(39) )
    @Html.Raw(ViewData["data"] )
 </table>
    

