@model dynamic>" 


	@Session["projectmetatags"]
   



    <h2>Reset Existing Permissions</h2>
    <table style="width: 100%;">
      @Html.Raw(ViewData["dataper"] 
        
</table>        
       
 


