@model OLProject.Models.tb_UserMaster
@{Layout = "~/views/shared/adminpopup.cshtml";}

		@Session["projectmetatags"]



<script>
window.onunload = function () {
            window.opener.location.href = window.opener.location;
}

 </script>

 
    @if (ViewData["msgStatus"] == null)
     { 
   @Html.Partial("BaseCategory1"); 
     <h1>@Html.Raw(ViewData["errorMsg"])</h1>
 }
     else
     {

     <h1>@Html.Raw(ViewData["errorMsg"])</h1>
   
   }
   
  



