@model OLProject.Models.tb_UserMaster

@{Layout = "~/views/shared/adminpopup.cshtml";}

		@Session["projectmetatags"]



  
    @if (ViewData["msgStatus"] == null)
     { 
   @Html.Partial("BaseCategory"); 
 }
     else
     {

     <h1>@Html.Raw(ViewData["errorMsg"])</h1>
   
   }
   



