<!--BANNER START-->
<div class="page-heading">
    <div class="container">
        <h2>Contact us</h2>
        <p>Home / Contact</p>
    </div>
</div>
<!--BANNER END-->
<!--CONTANT START-->
<div class="contant">
    <div class="container">
        <div class="contact-us">
            <!--EVENT START-->
            <!--EVENT LOCATION MAP START-->


            <!--EVENT LOCATION MAP END-->
            @*<!--EVENT DETAIL TEXT START-->
                <div class="text-detail">
                	<h2>Find Us on the Map</h2>
                    <ul>
                    	<li><a href="#">Quisque ut mattis dolor, a gravida turpis.</a></li>
                        <li><a href="#">At vero eos et accusamus et iusto odio dignissimos</a></li>
                        <li><a href="#">Ducimus qui blanditiis praesentium voluptatum</a></li>
                        <li><a href="#">Deleniti atque corrupti quosed dolores</a></li>
                        <li><a href="#">Quas molestias excepturi sint occaecati</a></li>
                    </ul>
                    <p>Nunc suscipit magna vitae nisi blandit, lacinia pellentesque elit euismod. Quisque ut mattis dolor, a gravida turpis.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quosed dolores et quas molestias excepturi sint occaecati.Nunc suscipit magna vitae nisi blandit, lacinia pellentesque elit euismod. Quisque ut mattis dolor, a gravida turpis.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quosed dolores et quas molestias excepturi sint occaecati.</p>
                    <p>Nunc suscipit magna vitae nisi blandit, lacinia pellentesque elit euismod. Quisque ut mattis dolor, a gravida turpis.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quosed dolores et quas molestias excepturi sint occaecati.Nunc suscipit magna vitae nisi blandit, lacinia pellentesque elit euismod. Quisque ut mattis dolor, a gravida turpis.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quosed dolores et quas molestias excepturi sint occaecati.</p>
                </div>
                <!--EVENT DETAIL TEXT END-->
                <!--ADMIN START-->
                <div class="admin">
                    <div class="thumb">
                        <a href="#"><img alt="" src="../../images/admin.jpg"></a>
                    </div>
                    <div class="text">
                        <div class="social-icons">
                            <a title="" data-toggle="tooltip" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a title="" data-toggle="tooltip" href="#" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a>
                            <a title="" data-toggle="tooltip" href="#" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a>
                            <a title="" data-toggle="tooltip" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a title="" data-toggle="tooltip" href="#" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <h2><a href="#">Administrator</a></h2>
                        <p class="profession">Photographer</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu nulla metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus tristique aliquet semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                    </div>
                </div>*@
            <!--ADMIN END-->
            <div class="row">
                <div class="span8">
                    <div class="leave-reply">
                        <h2>Leave Us a Reply</h2>

                        @using (Html.BeginForm())
                        {
                    
                            <div class="row-fluid">
                                <div class="span4">
                                    <input type="text" placeholder="Name" name="name" class="input-block-level">
                                </div>
                                <div class="span4">
                                    <input type="text" placeholder="E-mail" name="emailid" class="input-block-level">
                                </div>
                                <div class="span4">
                                    <input type="text" placeholder="Contact No" name="contactno" class="input-block-level">
                                </div>
                                <div class="text-area">
                                    <textarea placeholder="Comments" name="comments" class="input-block-level"></textarea>
                                    <button type="submit" name="buttonName" class="btn-style" value="contact">Submit</button>

                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="span4">
                    <div class="campaign">





                        <div class="campaign_text">
                            <h5><span> Kin Zin Digital Media Inc.                 </span> <br />
                               
                                333 Terminal Avenue ( 3rd Floor)
                                <br />
                                Vancouver, BC
                                <br />
                                Canada
                           
                                V6A 4C1 </h5>

                        </div>


                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                            <a href="#"><i class="fa fa-comment-o"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <!--EVENT END-->
            <div class="event-location-map">

                @*     <div id="map-canvas"></div>*@

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d650.7981064534545!2d-123.10067601111683!3d49.27275091774617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54867166f50d2e2d%3A0xf15214bd690bafd4!2s333+Terminal+Ave%2C+Vancouver%2C+BC+V6A+4C1%2C+Canada!5e0!3m2!1sen!2sin!4v1453124198975" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <!--CONTANT END-->
