<!--BANNER START-->
    <div class="page-heading">
     <div class="container">
            <h2>Frequently Asked Questions</h2>
            <p>Home / FAQs</p>
        </div>
    </div>
    <!--BANNER END-->
  <!--CONTANT START-->
    <div class="contant">
    	<div class="container">
        	<div class="row">
                     @Html.Raw(ViewBag.faq)

            	@*<div class="span8">
                	<div class="faq-2">
                    	
                    	<!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section1">
                                <p>What is an online course? </p><span><img src="../../images/faq-pen.png" alt=""></span>
                            </div>
                            <div class="contain_cp_accor">
                                <div class="content_cp_accor">
                                    <p>An online course utilizes the Internet and a web browser as a means of creating a learning environment outside of the traditional classroom. Lectures and discussions will take place on a Distance Learning Center Web site. You will be able to access your course lectures (for the most part, text based with some courses utilizing audio and video) and communicate with your classmates and instructors through the use of a discussion forum (message board). The online courses follow a classroom structure of covering a lesson a week. You can access your course Web site anytime of the day and anywhere you have access to the Internet (dependent on security settings). </p>
                                </div>
                            </div>
                            <!--ACORDIAN DATE END-->
                            <!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section2">
                                <p>Who can take online courses? </p><span><img src="../../images/faq-pen.png" alt=""></span>
                            </div>
                            <div class="contain_cp_accor">
                                <div class="content_cp_accor">
                                    <p>Anyone can take an online course as long as they have access to a computer with Internet capabilities, have an active email account and have a good understanding of how a computer works. An online student also has to be motivated to participate in discussion forums and regularly check the Web site and keep up with the course work. </p>
                                </div>
                            </div>
                            <!--ACORDIAN DATE END-->
                            <!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section3">
                                <p>How do online courses work? </p><span><img src="../../images/faq-pen.png" alt=""></span>
                            </div>
                            <div class="contain_cp_accor">
                                <div class="content_cp_accor">
                                    <p>Once you begin your course work, you will find that through the use of the course site tools, you will be able to navigate within the course site. You will be able to maneuver through the Web site to post/read assignments and to download/upload files from your instructor.  Your instructor will primarily be contacting you through the discussion forum or by email.  Help files are found on the Distance Learning Center Web site with instructions on accessing your online course and utilizing the course tools. </p>
                                </div>
                            </div>
                            <!--ACORDIAN DATE END-->
                            <!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section4">
                                <p>Can I access my course from anywhere? </p><span><img src="../../images/faq-pen.png" alt=""></span>
                            </div>
                            <div class="contain_cp_accor">
                                <div class="content_cp_accor">
                                    <p>You can access the course anywhere that you have Internet access. Some companies have firewalls that prevent you from participating in the chat sessions and posting to the discussion forum. Please check with your company’s technology department before you attempt to access the course.</p>
                                </div>
                            </div>
                            <!--ACORDIAN DATE END-->
                            <!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section5">
                                <p>Are there specific times that I need to log into the Web site? </p><span><img src="../../images/faq-pen.png" alt=""></span>
                            </div>
                            <div class="contain_cp_accor">
                                <div class="content_cp_accor">
                                    <p>There is a set beginning and end date for your online course. It is suggested that you log on at least 3-4 times a week to check the discussion forums and read assignments and lectures. This is the “asynchronous” aspect of the course. There might be occasion when the instructor will set a chat time or WebEx session (“synchronous”) where he/she assigns a specific date and time for all the students to meet online. </p>
                                </div>
                            </div>
                            <!--ACORDIAN DATE END-->
                            <!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section6">
                                <p>How do I communicate with my instructor?</p><span><img src="../../images/faq-pen.png" alt=""></span>
                            </div>
                            <div class="contain_cp_accor">
                                <div class="content_cp_accor">
                                    <p>You communicate with your instructor by email, discussion forums, or chat sessions.  Students are highly encouraged to use these modes of communications, as faxed or mailed assignments are not accepted..</p>
                                </div>
                            </div>
                            <!--ACORDIAN DATE END-->
                           
                    </div>
                </div>*@

                <div class="span4">
                	<!--SIDEBAR START-->
                	<div class="sidebar">
                    	<!--SEARCH WIDGET START-->
                    	<div class="widget widget-search-course">
                        	<h2><i class="fa fa-search"></i> Search Course</h2>
                            
                            <div class="styled-select">
                               <select class="input-block-level">
                                  <option>Here is the first option</option>
                                  <option>The second option</option>
                               </select>
                            </div>
                            <p><input type="text" class="input-block-level" placeholder="Search by Keyword"></p>
                            <button class="btn-style">Search</button>
                        </div>
                        <!--SEARCH WIDGET END-->
                        <!--PAPULAR POST WIDGET START-->
                        <div class="widget widget-papular-post">
                        	<h2>Popular Posts</h2>
                            <ul>
                           @* 	<!--LIST ITEM START-->
                            	<li>
                                	<h4>9 Free Courses for Star Wars Fans</h4>
                                    <div class="thumb">
                                    	<a href="#"><img src="../../images/papular-post.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                    	<p class="date">19 May 2012  <span>Admin</span></p>
                                        <p>Androids, Aerodynamics, and Avoiding the Dark Side</p>
                                    </div>
                                </li>
                                <!--LIST ITEM END-->
                                <!--LIST ITEM START-->
                            	<li>
                                	<h4>Programming Skills to Land a New Job</h4>
                                    <div class="thumb">
                                    	<a href="#"><img src="../../images/papular-post2.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                    	<p class="date">19 May 2012  <span>Admin</span></p>
                                        <p>Lorem ipsum dolor sit amet, consect adipiscing elit.</p>
                                    </div>
                                </li>
                                <!--LIST ITEM END-->
                                <!--LIST ITEM START-->
                            	<li>
                                	<h4>Learning to Code at a Young Age.</h4>
                                    <div class="thumb">
                                    	<a href="#"><img src="../../images/papular-post3.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                    	<p class="date">19 May 2012  <span>Admin</span></p>
                                        <p>Happy #HourofCode! We invite learners of all ages</p>
                                    </div>
                                </li>
                                <!--LIST ITEM END-->
                                <!--LIST ITEM START-->
                            	<li>
                                	<h4>Give the Gift of Education.</h4>
                                    <div class="thumb">
                                    	<a href="#"><img src="../../images/papular-post4.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                    	<p class="date">19 May 2012  <span>Admin</span></p>
                                        <p>Tis the season of giving and today, December 1</p>
                                    </div>
                                </li>*@
                                <!--LIST ITEM END-->
                                   @Html.Partial("~/views/home/partialevent.cshtml")
                            </ul>
                        </div>
                        <!--PAPULAR POST WIDGET END-->
                      
                    </div>
                    <!--SIDEBAR END-->
                </div>
            </div>
        </div>
        
   
    <!--CONTANT END-->