@model OLProject.Models.tb_Feedback
<h2>&nbsp;</h2>
@{Layout = "~/views/shared/adminpopup.cshtml";}

		@Session["projectmetatags"]




 @if (ViewData["msgStatus"] == null)
     {
         using (Html.BeginForm("create", "feedback", FormMethod.Post, new { enctype = "multipart/form-data" }))
         {
   @Html.Partial("BaseSubject"); }
     
 }
     else
     {
     <h1>@Html.Raw(ViewData["errorMsg"])</h1>
  }


