@{ Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--CONTANT START-->
<div class="contant">
    <!--INTRO SECTION START-->
    <section class="gray-bg">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="intro">
                        <h2>Everything you need to know</h2>
                        <p>
                            Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. Ferri clita ponderum ne duo, simul appellantur reprehendunt mea an. An gloriatur vulputate eos, an sed fuisset, in quo inani eligendi.
Cum copiosae pertinacia ei, admodum volumus cum ut, erat nonumy his te. Iudico praesent sed id, nam error consequat reprehendunt no. Nostrud nostrum tacimates mei ut, debet facilisi in ius, dolor accusam omittam eu sea.
                        </p>
                    </div>
                </div>
                <div class="span6">
                    <div class="mac">
                        <ul class="bxslider">
                            <li>
                                <img src="images/mac-screen1.png" alt="">
                            </li>
                            <li>
                                <img src="images/mac-screen2.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--INTRO SECTION END-->
    <!--OUR TEACHERS SECTION START-->
    <section>
        <div class="container">
            <!--SECTION HEADER START-->
            <div class="sec-header">
                <h2>Our Teachers</h2>
                <p>Discover courses by topic</p>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!--SECTION HEADER END-->
            <div class="row">
                <!--TEACHERS THUMB START-->
                <div class="span3">
                    <div class="teachers">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-flickr"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-vimeo-square"></i></a>
                        </div>
                        <div class="thumb">
                            <a href="#">
                                <img src="images/teachers1.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h2><a href="#">Mickey Rorey</a></h2>
                            <p>Science Teacher</p>
                        </div>
                    </div>
                </div>
                <!--TEACHERS THUMB END-->
                <!--TEACHERS THUMB START-->
                <div class="span3">
                    <div class="teachers">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-flickr"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-vimeo-square"></i></a>
                        </div>
                        <div class="thumb">
                            <a href="#">
                                <img src="images/teachers2.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h2><a href="#">Mickey Rorey</a></h2>
                            <p>Science Teacher</p>
                        </div>
                    </div>
                </div>
                <!--TEACHERS THUMB END-->
                <!--TEACHERS THUMB START-->
                <div class="span3">
                    <div class="teachers">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-flickr"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-vimeo-square"></i></a>
                        </div>
                        <div class="thumb">
                            <a href="#">
                                <img src="images/teachers3.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h2><a href="#">Mickey Rorey</a></h2>
                            <p>Science Teacher</p>
                        </div>
                    </div>
                </div>
                <!--TEACHERS THUMB END-->
                <!--TEACHERS THUMB START-->
                <div class="span3">
                    <div class="teachers">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-flickr"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-vimeo-square"></i></a>
                        </div>
                        <div class="thumb">
                            <a href="#">
                                <img src="images/teachers4.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h2><a href="#">Mickey Rorey</a></h2>
                            <p>Science Teacher</p>
                        </div>
                    </div>
                </div>
                <!--TEACHERS THUMB END-->
            </div>
        </div>
    </section>
    <!--OUR TEACHERS SECTION END-->
    <!--FAQ SECTION START-->
    <section class="gray-bg">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="faq">
                        <h2>why choose us</h2>
                        <!--ACORDIAN DATE START-->
                        <div class="accordion_cp" id="section1">
                            <p>we provide courses at affordable prices</p>
                            <span><i class="fa fa-minus"></i></span>
                        </div>
                        <div class="contain_cp_accor">
                            <div class="content_cp_accor">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <!--ACORDIAN DATE END-->
                        <!--ACORDIAN DATE START-->
                        <div class="accordion_cp" id="section2">
                            <p>WE PROVIDE A VARIETY OF COURSES cHECK OUT THE COUSES NOW</p>
                            <span><i class="fa fa-minus"></i></span>
                        </div>
                        <div class="contain_cp_accor">
                            <div class="content_cp_accor">
                                <p>Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. Ferri clita ponderum ne duo, simul appellantur reprehendunt mea an. An gloriatur vulputate eos, an sed fuisset, in quo inani eligendi.</p>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <!--ACORDIAN DATE END-->
                        <!--ACORDIAN DATE START-->
                        <div class="accordion_cp" id="section3">
                            <p>We have world class teaching facilities</p>
                            <span><i class="fa fa-minus"></i></span>
                        </div>
                        <div class="contain_cp_accor">
                            <div class="content_cp_accor">
                                <p>Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. Ferri clita ponderum ne duo, simul appellantur reprehendunt mea an. An gloriatur vulputate eos, an sed fuisset, in quo inani eligendi.</p>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <!--ACORDIAN DATE END-->
                        <!--ACORDIAN DATE START-->
                        <div class="accordion_cp" id="section4">
                            <p>Learning Management</p>
                            <span><i class="fa fa-minus"></i></span>
                        </div>
                        <div class="contain_cp_accor">
                            <div class="content_cp_accor">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <!--ACORDIAN DATE END-->
                        <!--ACORDIAN DATE START-->
                        <div class="accordion_cp" id="section5">
                            <p>Learn Cooking Basics Online</p>
                            <span><i class="fa fa-minus"></i></span>
                        </div>
                        <div class="contain_cp_accor">
                            <div class="content_cp_accor">
                                <p>Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. Ferri clita ponderum ne duo, simul appellantur reprehendunt mea an. An gloriatur vulputate eos, an sed fuisset, in quo inani eligendi.</p>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <!--ACORDIAN DATE END-->
                        <!--ACORDIAN DATE START-->
                        <div class="accordion_cp" id="section6">
                            <p>What you have to know about MBA</p>
                            <span><i class="fa fa-minus"></i></span>
                        </div>
                        <div class="contain_cp_accor">
                            <div class="content_cp_accor">
                                <p>Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. Ferri clita ponderum ne duo, simul appellantur reprehendunt mea an. An gloriatur vulputate eos, an sed fuisset, in quo inani eligendi.</p>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <!--ACORDIAN DATE END-->
                        <!--ACORDIAN DATE START-->
                        <div class="accordion_cp" id="section7">
                            <p>WE PROVIDE A VARIETY OF COURSES cHECK OUT THE COUSES NOW</p>
                            <span><i class="fa fa-minus"></i></span>
                        </div>
                        <div class="contain_cp_accor">
                            <div class="content_cp_accor">
                                <p>Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. Ferri clita ponderum ne duo, simul appellantur reprehendunt mea an. An gloriatur vulputate eos, an sed fuisset, in quo inani eligendi.</p>
                            </div>
                        </div>
                        <!--ACORDIAN DATE END-->
                    </div>
                </div>
                <div class="span4">
                    <div class="box">
                        <h2>Event Gallery</h2>
                        <ul class="event-galley">
                            <!--LIST ITEM START-->
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="images/event1.png" alt=""></a>
                                </div>
                                <div class="text">
                                    <p>21-04-2012</p>
                                    <h4>most popular courses </h4>
                                    <a class="tags" href="#">Equipment</a>
                                    <a class="tags" href="#">tips</a>
                                </div>
                            </li>
                            <!--LIST ITEM START-->
                            <!--LIST ITEM START-->
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="images/event2.png" alt=""></a>
                                </div>
                                <div class="text">
                                    <p>21-04-2012</p>
                                    <h4>most popular courses </h4>
                                    <a class="tags" href="#">Equipment</a>
                                    <a class="tags" href="#">tips</a>
                                </div>
                            </li>
                            <!--LIST ITEM START-->
                            <!--LIST ITEM START-->
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="images/event3.png" alt=""></a>
                                </div>
                                <div class="text">
                                    <p>21-04-2012</p>
                                    <h4>most popular courses </h4>
                                    <a class="tags" href="#">Equipment</a>
                                    <a class="tags" href="#">tips</a>
                                </div>
                            </li>
                            <!--LIST ITEM START-->
                            <!--LIST ITEM START-->
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="images/event4.png" alt=""></a>
                                </div>
                                <div class="text">
                                    <p>21-04-2012</p>
                                    <h4>most popular courses </h4>
                                    <a class="tags" href="#">Equipment</a>
                                    <a class="tags" href="#">tips</a>
                                </div>
                            </li>
                            <!--LIST ITEM START-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FAQ SECTION END-->

    <!--TESTIMONIALS SECTION START-->
    <section class="upcoming-events">
        <div class="container">
            <ul class="bxslider">
                <!--LIST ITEM START-->
                <li>
                    <div class="event-contant">
                        <div class="thumb">
                            <a href="#">
                                <img src="images/event-img.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h2>Upcoming Events 1</h2>
                            <h4>Free Seminar at London14 May 2014 10:00 am</h4>
                            <p>Quisque tortor nisi, tristique sit amet commodo vel, commodo at mauris. Vestibulum vel justo neque, non pharetra orci. Integer nec est mauris, in vestibulum elit. Nulla facilisi. Praesent eu dolor lacus. Vestibulum laoreet sodales...</p>
                        </div>
                    </div>
                </li>
                <!--LIST ITEM END-->
                <!--LIST ITEM START-->
                <li>
                    <div class="event-contant">
                        <div class="thumb">
                            <a href="#">
                                <img src="images/event-img2.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h2>Upcoming Events 2</h2>
                            <h4>Free Seminar at London14 May 2014 10:00 am</h4>
                            <p>Quisque tortor nisi, tristique sit amet commodo vel, commodo at mauris. Vestibulum vel justo neque, non pharetra orci. Integer nec est mauris, in vestibulum elit. Nulla facilisi. Praesent eu dolor lacus. Vestibulum laoreet sodales...</p>
                        </div>
                    </div>
                </li>
                <!--LIST ITEM END-->
                <!--LIST ITEM START-->
                <li>
                    <div class="event-contant">
                        <div class="thumb">
                            <a href="#">
                                <img src="images/event-img3.jpg" alt=""></a>
                        </div>
                        <div class="text">
                            <h2>Upcoming Events 3</h2>
                            <h4>Free Seminar at London14 May 2014 10:00 am</h4>
                            <p>Quisque tortor nisi, tristique sit amet commodo vel, commodo at mauris. Vestibulum vel justo neque, non pharetra orci. Integer nec est mauris, in vestibulum elit. Nulla facilisi. Praesent eu dolor lacus. Vestibulum laoreet sodales...</p>
                        </div>
                    </div>
                </li>
                <!--LIST ITEM END-->
            </ul>
        </div>
    </section>
    <!--TESTIMONIALS SECTION END-->
    <!--FOLLOW US SECTION START-->
    <section class="follow-us">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="follow">
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                            <div class="text">
                                <h4>Follow us on Facebook</h4>
                                <p>Faucibus toroot menuts</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="span4">
                    <div class="follow">
                        <a href="#">
                            <i class="fa fa-google"></i>
                            <div class="text">
                                <h4>Follow us on Google Plus</h4>
                                <p>Faucibus toroot menuts</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="span4">
                    <div class="follow">
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                            <div class="text">
                                <h4>Follow us on Linkedin</h4>
                                <p>Faucibus toroot menuts</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FOLLOW US SECTION END-->
</div>
<!--CONTANT END-->
