@@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Security.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" 
@using OLProject.Models;

		@Session["projectmetatags"]



  <h2>Popup</h2>

  <h3>
  @Html.Raw(ViewData["results"])

  </h3>

