
   @{ Layout = "~/Views/Shared/adminsecurity.cshtml";
      }

   @* @Session["projectmetatags"]*@



<h2>Welcome you...</h2>

<br />

Please select from left menu bar!!!
<br />
<br />
<br />
<br />
<br />

@* @Html.Raw(ViewData["PageData"]


   <h2>
        User Comments Data</h2>
    <table width="100%">
        <tr>
            <td colspan="4" style="border-bottom: 1px solid #c2c2c2;">
                <img src="../../Images/clr.gif" alt="" width="1" height="15" />
            </td>
        </tr>
        <tr>
            <td>
                <b>Comments </b>
            </td>
            <td>
                <b>Slide Name </b>
            </td>
            <td>
                <b>User Name </b>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="border-bottom: 1px solid #c2c2c2;">
                <img src="../../Images/clr.gif" alt="" width="1" height="15" />
            </td>
        </tr>
        @Html.Raw(ViewData["data"]
    </table>
*@
