@model ContosoUniversity.Models.tb_ProgramMaster
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/adminPopup.cshtml";
}

<h2>Create Program</h2>



<script>
    window.onunload = function () {
        window.opener.location.href = window.opener.location;
    }

</script>

@if (ViewData["msgStatus"] == null)
{ 
    @Html.Partial("Base")
    
}
else
{
    <h1>@ViewData["errorMsg"]</h1>
}


