@model OLProject.Models.tb_SubjectMaster
       @{ Layout = "~/Views/Shared/adminPopup.cshtml"; }


	@Session["projectmetatags"]

 
   @if (ViewData["msgStatus"] == null)
     { 
      <h2>Are you sure you want to delete this?</h2>
               using (Html.BeginForm("delete", "subject", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

   @Html.Partial("BaseSubject"); }
 }
     else
     {

     <h2>@Html.Raw(ViewData["errorMsg"])</h2>
   
   }
   



