@model OLProject.Models.tb_CityMaster

   @{ Layout = "~/Views/Shared/adminpopup.cshtml"; }
	@Session["projectmetatags"]




    <h2>Delete District</h2>

    <h3>Are you sure you want to delete this?</h3>
   
   @Html.Partial("comState");  




