@model OLProject.Models.tb_ProductClassMaster
   @{ Layout = "~/Views/Shared/adminPopup.cshtml"; }



   
    
  
   @if (ViewData["msgStatus"] == null)
     { 
	 <h2>Edit Class</h2>
              using (Html.BeginForm("edit", "Productclass", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
   @Html.Partial("BaseClass"); 
   }
     }
     else
     {

     <h2>@Html.Raw(ViewData["errorMsg"])</h2>
   
   }



