<div id="body-text">
    <div class="textfull">

        <fieldset>

            <legend>REGISTER WITH US</legend>

            <div id="steps">
                <ul>
                    <li>
                        <div class="step-div">
                        </div>
                    </li>
                    <li class="red">Offers</li>
                    <li>
                        <div class="step-div2">
                        </div>
                    </li>
                    <li class="black">Registration</li>
                    <li>
                        <div class="step-div3">
                        </div>
                    </li>
                    <li class="black">Confirmation</li>
                    <li>
                        <div class="step-div3">
                        </div>
                    </li>
                    <li class="black">Payments</li>
                    <li>
                        <div class="step-div3">
                        </div>
                    </li>
                    <li class="black">Completed</li>
                    <li>
                        <div class="step-div4">
                        </div>
                    </li>
                </ul>


            </div>
            &nbsp;&nbsp;&nbsp;
            <br />

            &nbsp;&nbsp;&nbsp;
            <br />
            &nbsp;&nbsp;&nbsp;
            <br />

            <table id="resultForm:result_table" class="result_table2" width="100%">
                <thead>
                    <tr>
                        <th width="20%">
                            <img src="../../images/product_name.png" width="50" height="50" /></th>
                        <th width="20%">
                            <img src="../../images/name.png" width="50" height="50" /></th>
                        <th width="20%">
                            <img src="../../images/noofuser.png" width="50" height="50" /></th>
                        <th width="20%">
                            <img src="../../images/amount.png" width="50" height="50" /></th>
                        <th width="10%">
                            <img src="../../images/demo.png" width="50" height="50" /></th>
                        <th width="10%">
                            <img src="../../images/buy.png" width="50" height="50" /></th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th width="20%">Product Name</th>
                        <th width="20%">Short Name</th>
                        <th width="20%">No. of Users</th>
                        <th width="20%">Amount ($)</th>
                        <th width="10%">Demo</th>
                        <th width="10%">Buy</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Raw(ViewData["data"])

                </tbody>
            </table>




        </fieldset>

    </div>
</div>





<div class="clr"></div>
</div>

