@model OLProject.Models.tb_UnitMaster
@{ Layout = "~/Views/Shared/adminPopup.cshtml"; }

@Session["projectmetatags"]

@if (ViewData["msgStatus"] == null)
{
<h2>Edit Unit</h2>
    using (Html.BeginForm("edit", "unit", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.Partial("Base");
    }
}
else
{

    <h2>@Html.Raw(ViewData["errorMsg"])</h2>
   
}




